<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <img src="home_images/skin_banner_smaller.jpg" class="img-fluid" alt="App banner">
    </div>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <%# link_to 'Login', new_user_session_path,class: 'nav-link' %>

      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete,class: 'nav-link' %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path,class: 'nav-link' %>
      <% end %>

    </li>
    <li class="nav-item">
      <span class="nav-link"><%= current_user.try(:email) %> </span>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">My Skin</a>
    </li>
  </ul>


  <div class="row">

    <div class="offset-1 col-10 mt-5">
      <p>
        This is a human oriented project. The goal is our health via automated human skin monitoring.

        Skin monitoring is crucial for our health. By observing our skin regularly, we can detect early signs of issues like skin cancer, infections, and autoimmune disorders. Monitoring also promotes overall skin health, sun protection, and self-care. Prioritizing skin monitoring empowers us to take control of our well-being and enjoy a healthy complexion.

        This project is a step towards the healthier future for all of us!.

        Cheers!
      </p>
    </div>
  </div>

  <footer class="row mt-5">
    <span>©Copyright: serghei.ocean@gmail.com</span>
  </footer>
  </div>

